In [1]:
lst=[2,3,4,5,19]
product=1
index=0
while index<len(lst):
    product*=lst[index]
    index+=1
print("product is {}".format(product))

product is 2280

In [2]:
num=10
if num>0:
    print("Number is positive")
else:
    print("Number id=s negative")

Number is positive

In [3]:
num=8.3
if num>0:
    if num==0:
        print("Number is Zero")
    else:
        print("Number is positive")
else:
    print("Number is negative")

Number is positive

In [11]:
num=[1,2,3,4,5,6,7,8,9,10]

sum=1
index=1
while index<len(num):
    sum+=num[index]
    index+=1
print("Total sum is {}".format(sum))

Total sum is 55

In [24]:
num =int(input("Enter a number: "))
isDivisiable=False
i=2
while i<num:
    if num%i==0:
        isDivisiable=True
        print("{} is divisible by {}".format(num,i))
    i+=1
if isDivisiable:
    print("{} is not a prime number ".format(num))
else:
    print("{} is a prime number".format(num))

Enter a number: 67
67 is a prime number

In [26]:
lst=[1,2,3]
product=1
for ele in lst:
    product*=ele
print("product is : {}".format(product))

product is : 6

In [27]:
lst=[1,2,3,4,5,6,7,8,9,10]
sum=0
for ele in lst:
    sum+=ele
print("Total sum is : {}".format(sum))

Total sum is : 55

In [31]:
lst1=int(input("Enter a Number : "))
lst2=int(input("Enter a Number : "))
lst=[lst1,lst2]
sum=0
for ele in lst:
    sum+=ele
print("Total sum is : {}".format(sum))

Enter a Number : 50
Enter a Number : 100
Total sum is : 150

In [34]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [35]:
lst=["krishna ","sonu","manu","Avinash","Golu"]
for index in range(len(lst)):
    print(lst[index])

krishna
sonu
manu
Avinash
Golu

In [36]:
lst=["krishna ","sonu","manu","Avinash","Golu"]
for ele in lst:
    print(ele)

krishna
sonu
manu
Avinash
Golu

In [39]:
lst=["krishna ","sonu","manu","Avinash","Golu"]
for names in lst:
    print(names)
else:
    print("no item left in lst")

krishna
sonu
manu
Avinash
Golu
no item left in lst

In [45]:
index1=1
index2=30
print("prime numbers between {} and {} are: ".format(index1,index2))
for num in range(index1,index2+1):
    if num>1:
        isDivisiable=False
        for index in range(2,num):
            if num%index==0:
                isDivisiable=True
        if not isDivisiable:
            print(num)

prime numbers between 1 and 30 are:
2
3
5
7
11
13
17
19
23
29

In [48]:
num=[1,2,3,4]
for a in num:
    if a==3:
        break;
    print(a)
    
else:
    print("in the else -block ")
print("OUTSIDE OF THE FOR LOOP")

1
2
OUTSIDE OF THE FOR LOOP

In [50]:
lst=[1,2,3,4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

In [51]:
lst.insert(1,0)
print(lst)

[1, 0, 2, 3, 4, 5]

In [52]:
lst.remove(0)

In [53]:
lst

[1, 2, 3, 4, 5]

In [55]:
lst=[1,2,3,4]
lst1=[5,6]
lst.append(lst1)
lst

[1, 2, 3, 4, [5, 6]]

In [56]:
lst.extend(lst1)
lst

[1, 2, 3, 4, [5, 6], 5, 6]

In [57]:
lst.remove(lst1)

In [58]:
lst

[1, 2, 3, 4, 5, 6]

In [62]:
del lst[1]

In [63]:
lst

[1, 3, 4, 5, 6]

In [65]:
lst.pop(1)

3

In [66]:
lst

[1, 4, 5, 6]

In [69]:
lst.remove(4)

ValueError: list.remove(x): x not in list

In [68]:
lst

[1, 5, 6]

In [70]:
square=[i**2 for i in range (10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
lst=[-10,-20,30,23]
new_lst=[i*2 for i in lst]
print(new_lst)

[-20, -40, 60, 46]

In [73]:
new_lst=[i*3 for i in lst if i>=0]
print(new_lst)

[90, 69]

In [76]:
new_lst=[(i,i**2) for i in range(1,101)]
new_lst

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225),
 (16, 256),
 (17, 289),
 (18, 324),
 (19, 361),
 (20, 400),
 (21, 441),
 (22, 484),
 (23, 529),
 (24, 576),
 (25, 625),
 (26, 676),
 (27, 729),
 (28, 784),
 (29, 841),
 (30, 900),
 (31, 961),
 (32, 1024),
 (33, 1089),
 (34, 1156),
 (35, 1225),
 (36, 1296),
 (37, 1369),
 (38, 1444),
 (39, 1521),
 (40, 1600),
 (41, 1681),
 (42, 1764),
 (43, 1849),
 (44, 1936),
 (45, 2025),
 (46, 2116),
 (47, 2209),
 (48, 2304),
 (49, 2401),
 (50, 2500),
 (51, 2601),
 (52, 2704),
 (53, 2809),
 (54, 2916),
 (55, 3025),
 (56, 3136),
 (57, 3249),
 (58, 3364),
 (59, 3481),
 (60, 3600),
 (61, 3721),
 (62, 3844),
 (63, 3969),
 (64, 4096),
 (65, 4225),
 (66, 4356),
 (67, 4489),
 (68, 4624),
 (69, 4761),
 (70, 4900),
 (71, 5041),
 (72, 5184),
 (73, 5329),
 (74, 5476),
 (75, 5625),
 (76, 5776),
 (77, 5929),
 (78, 6084),
 (79, 6241),
 (80, 6400),
 (81, 6561),
 (82, 6724),
 (83, 6889),
 (84, 7056),
 (85, 7225),
 (86, 7396),
 (87, 7569),
 (88, 7744),
 (89, 7921),
 (90, 8100),
 (91, 8281),
 (92, 8464),
 (93, 8649),
 (94, 8836),
 (95, 9025),
 (96, 9216),
 (97, 9409),
 (98, 9604),
 (99, 9801),
 (100, 10000)]

In [77]:
new_lst=[(i,i**3) for i in range(1,101)]
new_lst

[(1, 1),
 (2, 8),
 (3, 27),
 (4, 64),
 (5, 125),
 (6, 216),
 (7, 343),
 (8, 512),
 (9, 729),
 (10, 1000),
 (11, 1331),
 (12, 1728),
 (13, 2197),
 (14, 2744),
 (15, 3375),
 (16, 4096),
 (17, 4913),
 (18, 5832),
 (19, 6859),
 (20, 8000),
 (21, 9261),
 (22, 10648),
 (23, 12167),
 (24, 13824),
 (25, 15625),
 (26, 17576),
 (27, 19683),
 (28, 21952),
 (29, 24389),
 (30, 27000),
 (31, 29791),
 (32, 32768),
 (33, 35937),
 (34, 39304),
 (35, 42875),
 (36, 46656),
 (37, 50653),
 (38, 54872),
 (39, 59319),
 (40, 64000),
 (41, 68921),
 (42, 74088),
 (43, 79507),
 (44, 85184),
 (45, 91125),
 (46, 97336),
 (47, 103823),
 (48, 110592),
 (49, 117649),
 (50, 125000),
 (51, 132651),
 (52, 140608),
 (53, 148877),
 (54, 157464),
 (55, 166375),
 (56, 175616),
 (57, 185193),
 (58, 195112),
 (59, 205379),
 (60, 216000),
 (61, 226981),
 (62, 238328),
 (63, 250047),
 (64, 262144),
 (65, 274625),
 (66, 287496),
 (67, 300763),
 (68, 314432),
 (69, 328509),
 (70, 343000),
 (71, 357911),
 (72, 373248),
 (73, 389017),
 (74, 405224),
 (75, 421875),
 (76, 438976),
 (77, 456533),
 (78, 474552),
 (79, 493039),
 (80, 512000),
 (81, 531441),
 (82, 551368),
 (83, 571787),
 (84, 592704),
 (85, 614125),
 (86, 636056),
 (87, 658503),
 (88, 681472),
 (89, 704969),
 (90, 729000),
 (91, 753571),
 (92, 778688),
 (93, 804357),
 (94, 830584),
 (95, 857375),
 (96, 884736),
 (97, 912673),
 (98, 941192),
 (99, 970299),
 (100, 1000000)]

In [78]:
new_lst=[(i,i**10) for i in range(1,101)]
new_lst

[(1, 1),
 (2, 1024),
 (3, 59049),
 (4, 1048576),
 (5, 9765625),
 (6, 60466176),
 (7, 282475249),
 (8, 1073741824),
 (9, 3486784401),
 (10, 10000000000),
 (11, 25937424601),
 (12, 61917364224),
 (13, 137858491849),
 (14, 289254654976),
 (15, 576650390625),
 (16, 1099511627776),
 (17, 2015993900449),
 (18, 3570467226624),
 (19, 6131066257801),
 (20, 10240000000000),
 (21, 16679880978201),
 (22, 26559922791424),
 (23, 41426511213649),
 (24, 63403380965376),
 (25, 95367431640625),
 (26, 141167095653376),
 (27, 205891132094649),
 (28, 296196766695424),
 (29, 420707233300201),
 (30, 590490000000000),
 (31, 819628286980801),
 (32, 1125899906842624),
 (33, 1531578985264449),
 (34, 2064377754059776),
 (35, 2758547353515625),
 (36, 3656158440062976),
 (37, 4808584372417849),
 (38, 6278211847988224),
 (39, 8140406085191601),
 (40, 10485760000000000),
 (41, 13422659310152401),
 (42, 17080198121677824),
 (43, 21611482313284249),
 (44, 27197360938418176),
 (45, 34050628916015625),
 (46, 42420747482776576),
 (47, 52599132235830049),
 (48, 64925062108545024),
 (49, 79792266297612001),
 (50, 97656250000000000),
 (51, 119042423827613001),
 (52, 144555105949057024),
 (53, 174887470365513049),
 (54, 210832519264920576),
 (55, 253295162119140625),
 (56, 303305489096114176),
 (57, 362033331456891249),
 (58, 430804206899405824),
 (59, 511116753300641401),
 (60, 604661760000000000),
 (61, 713342911662882601),
 (62, 839299365868340224),
 (63, 984930291881790849),
 (64, 1152921504606846976),
 (65, 1346274334462890625),
 (66, 1568336880910795776),
 (67, 1822837804551761449),
 (68, 2113922820157210624),
 (69, 2446194060654759801),
 (70, 2824752490000000000),
 (71, 3255243551009881201),
 (72, 3743906242624487424),
 (73, 4297625829703557649),
 (74, 4923990397355877376),
 (75, 5631351470947265625),
 (76, 6428888932339941376),
 (77, 7326680472586200649),
 (78, 8335775831236199424),
 (79, 9468276082626847201),
 (80, 10737418240000000000),
 (81, 12157665459056928801),
 (82, 13744803133596058624),
 (83, 15516041187205853449),
 (84, 17490122876598091776),
 (85, 19687440434072265625),
 (86, 22130157888803070976),
 (87, 24842341419143568849),
 (88, 27850097600940212224),
 (89, 31181719929966183601),
 (90, 34867844010000000000),
 (91, 38941611811810745401),
 (92, 43438845422363213824),
 (93, 48398230717929318249),
 (94, 53861511409489970176),
 (95, 59873693923837890625),
 (96, 66483263599150104576),
 (97, 73742412689492826049),
 (98, 81707280688754689024),
 (99, 90438207500880449001),
 (100, 100000000000000000000)]

In [81]:
square=[]
for i in range(10):
    square.append(i**2)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
matrix=[[1,2,3,4],
       [2,3,4,5],
       [3,4,5,6]]

In [85]:
matrix.transpose()

AttributeError: 'list' object has no attribute 'transpose'

In [94]:
matrix=[[1,2,3,4],
       [5,6,7,8],
       [9,10,11,12]]
transposed=[[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [95]:
[[row[i] for row in matrix] for i in range(len(r)) for r in matrix]

NameError: name 'r' is not defined

In [100]:
a='krishna'
a[1]='d'

TypeError: 'str' object does not support item assignment

In [108]:
count=0
for l in 'hello world':
    if l=="o":
        count+=1
print(count,'letters found')

2 letters found

In [109]:
print("l" in 'hello world')

True

In [110]:
count=0
for k in "krishna kumar ":
    if k=="a":
        count+=1
print(count,"letter found")

2 letter found

In [111]:
'krishna kumar'.upper()

'KRISHNA KUMAR'

In [112]:
'KRISHNA KUMAR'.lower()

'krishna kumar'

In [113]:
'This will split all word in the list'.split()

['This', 'will', 'split', 'all', 'word', 'in', 'the', 'list']

In [115]:
'krishna'.split()

['krishna']

In [116]:
'Bad morning'.replace("Bad","Good")

'Good morning'

In [128]:
a="madam"
b=reversed(a)

In [129]:
if list(a)==list(b):
    print("Given string is palindrome")
else:
    print("Given string is not palindrom")

Given string is palindrome

In [132]:
def print_name(name):
    '''
    This will print name 
    '''
    print("Hello"+" "+str(name))

In [118]:
s1="Bad morning"
s2=s1.replace('Bad',"Good")
print(s1)
print(s2)

Bad morning
Good morning

In [133]:
print_name("krishna kumar")

Hello krishna kumar

In [135]:
print_name("manish")

Hello manish

In [136]:
print(print_name.__doc__)

    This will print name

In [143]:
def get_sum(lst):
    '''
    This will return sum of all element in a list
    '''
    _sum=0
    for num in lst:
        _sum+=num
    return _sum

In [144]:
get_sum([1,2,3,4,5])

15

In [147]:
def get_multiple(lst):
    """
    This will return multiplication of number in list
    """
    _multiple=1
    for num in lst:
        _multiple*=num
    return _multiple

In [148]:
get_multiple([1,2,3,4])

24

In [149]:
get_multiple([20,20])

400

In [150]:
get_sum([1,2,3,4,5,6,7,8,9,10])

55

In [156]:
global_var='This is global variable'
def test_life_time():
    """
    This will return test the life time of a variable 
    """
    local_var="This is local variable"
    print(local_var)
    print(global_var)

In [152]:
test_life_time()

This is local variable
This is global variable

In [153]:
print(global_var)

This is global variable

In [154]:
print(local_var)

NameError: name 'local_var' is not defined

In [157]:
print(local_var)
print(global_var)

NameError: name 'local_var' is not defined

In [159]:
test_life_time()

This is local variable
This is global variable

In [160]:
print(global_var)

This is global variable

Python program to print HCF of two number

In [170]:
def computeHCF(a,b):
    """
    Computing HCF of two number
    """
    smaller= b if a>b else a
    hcf=1
    for i in range(1,smaller+1):
        if (a%i==0) and (b%i==0):
            hcf=i
    return hcf

In [169]:
num1=int(input("Enter 1st num: "))
num2=int(input("Enter 2nd num: "))
print("HCF of {} and {} is :{}".format(num1,num2,computeHCF(num1,num2)))

Enter 1st num: 98
Enter 2nd num: 78

NameError: name 'smaller' is not defined

In [171]:
num1=int(input("Enter 1st num: "))
num2=int(input("Enter 2nd num: "))
print("HCF of {} and {} is :{}".format(num1,num2,computeHCF(num1,num2)))

Enter 1st num: 34
Enter 2nd num: 56
HCF of 34 and 56 is :2

In [172]:
num=-200
abs(num)

200

In [173]:
lst=[1,2,3,3]
all(lst)

True

In [174]:
lst=[0,1,2,3]
all(lst)

False

In [176]:
lst=[False,2,4]
all(lst)

False

In [177]:
lst=[-1,-2,3,4,4]
all(lst)

True

In [178]:
lst=[]
all(lst)

True

In [179]:
num=[1,2,3]
dir(num)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [182]:
dir.resverse(num)

AttributeError: 'builtin_function_or_method' object has no attribute 'resverse'

In [183]:
divmod(12,3)

(4, 0)

In [184]:
divmod(34,3)

(11, 1)

In [185]:
num=[1,2,3,4,5]
for index,num in enumerate(num):
    print("Index {} has value {}".format(index,num))

Index 0 has value 1
Index 1 has value 2
Index 2 has value 3
Index 3 has value 4
Index 4 has value 5

In [191]:
def find_positive_number(num):
    """
    This functions return the positive number if num is positive 
    """
    if num >0:
        return num

In [187]:
number_list=range(-10,10)
print(list(number_list))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [192]:
positive_num_lst=list(filter(find_positive_number,number_list))
print(positive_num_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [193]:
lst=[-20,-34,32,-1,-2,43,4]
positive_num_lst=list(filter(find_positive_number,lst))
print(positive_num_lst)

[32, 43, 4]

In [195]:
find_positive_number.__doc__

'\n    This functions return the positive number if num is positive \n    '

In [196]:
lst=[1,2,3,4]
print(isinstance(lst,list))

True

In [198]:
lst=(1,2,3,3)
print(isinstance(lst,tuple))

True

In [203]:
num=[1,2,3,4]
[i**2 for i in num]

[1, 4, 9, 16]

In [204]:
[i*2 for i in range(5)]

[0, 2, 4, 6, 8]

In [207]:
lst=[1,2,3,4]
def power_of_num(num):
    '''
    This function gives power of number
    '''
    return num**2

In [209]:
power_of_num

In [210]:
list(map(power_of_num,lst))

[1, 4, 9, 16]

In [211]:
number=[12,13,14,15,16]
def power_of_number(num):
    return num**2
squred=list(map(power_of_number,number))
print(squred)

[144, 169, 196, 225, 256]

In [212]:
product=1
lst=[1,2,3,4]
for num in lst:
    product*=num
print(product)

24

In [213]:
from functools import reduce
def multiply(x,y):
    return x*y
product=reduce(multiply,lst)

print(product)

24

In [214]:
reduce(multiply,[2,3,4,5])

120

In [216]:
def product_numbers(a,b):
    '''
    This function return the product of two numbers
    '''
    product=a*b
    return product
num1=10
num2=20
print("product of {} and {} is {}".format(num1,num2,product_numbers(num1,num2)))

product of 10 and 20 is 200

In [217]:
product_numbers.__doc__

'\n    This function return the product of two numbers\n    '

In [222]:
def add(a,b):
    """
    This function adds two numbers
    """
    return a+b
def multiply(a,b):
    '''
    This function multiply two numbers
    '''
    return a*b
def subtract(a,b):
    '''
    This function subtract two number 
    '''
    return a-b
def division(a,b):
    """
    This function return division of two number 
    """
    return a/b
print("select option")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")
choice=int(input("Enter choice number 1/2/3/4"))
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
if choice ==1:
    print("Addition of {} and {} is {}".format(num1,num2,add(num1,num2)))
elif choice==2:
    print("Subtraction of {} and {} is {}".format(num1,num2,subtract(num1,num2)))
elif choice==3:
    print("Multiplication of {} and {} is {}".format(num1,num2,multiply(num1,num2)))
elif choice==4:
    print("Division of {} and {} is {}".format(num1,num2,division(num1,num2)))
else:
    print("Invalid choice")

select option
1.Addition
2.Subtraction
3.Multiplication
4.Division
Enter choice number 1/2/3/45
Enter first number: 34
Enter second number: 34
Invalid choice

Python Calculator

In [223]:
def add(a,b):
    return a+b
def multiply(a,b):
    return a*b
def subtract(a,b):
    return a-b
def division(a,b):
    return a/b
print("select option")
print("1.Addition")
print("2.Multiplication")
print("3.Subtraction")
print("4.Division")
choice = int(input("Enter chice 1/2/3/4 "))
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
if choice ==1:
    print("Addition of {} and {} is {}".format(num1,num1,add(num1,num2)))
elif choice ==2:
    print("Multiplication of {} and {} is {}".format(num1,num1,multiply(num1,num2)))
elif choice ==3:
    print("Subtraction of {} and {} is {}".format(num1,num1,subtract(num1,num2)))
elif choice ==4:
    print("Division of {} and {} is {}".format(num1,num1,division(num1,num2)))
else:
    print("Invalid choice")

select option
1.Addition
2.Multiplication
3.Subtraction
4.Division
Enter chice 1/2/3/4 1
Enter first number : 12
Enter second number : 12
Addition of 12 and 12 is 24

In [224]:
def greeting(name,msg):
    """
    This function gives greating to person 
    """
    print("Hello {} , {} ".format(name,msg))

In [225]:
greeting("krishna", "Good morning")

Hello krishna , Good morning

In [226]:
greeting("krishna")

TypeError: greeting() missing 1 required positional argument: 'msg'

In [227]:
def greet(name,msg="Good Morning"):
    """
    This function gives greeting to the person
    """
    print("Helo {} , {}".format(name,msg))

In [228]:
greet("krishna")

Helo krishna , Good Morning

In [231]:
def greet(*names):
    """
    This function gives greeting to all person in the names tuple
    """
    print("name")
    for name in names:
        print("Hello, {}".format(name))

In [232]:
greet("satish","manish","manu")

name
Hello, satish
Hello, manish
Hello, manu

Python program to print factorial of a number of a given number

In [233]:
def factorial(num):
    """
    This function is a recursion function to find the factorial of a given number 
    """
    return 1 if num==1 else(num*factorial(num-1))

In [238]:
num=int(input("Enter a number: "))
print("Factorial of {} is {}".format(num,factorial(num)))

Enter a number: 10
Factorial of 10 is 3628800

Fibonacci Sequence

In [239]:
def fibonacci(num):
    """
    Recursive function to print fibonacci sequence
    """
    return num if num<=1 else fibonacci(num-1)+fibonacci(num-2)

In [241]:
nterm=5
print("Fibonacci Sequence")
for num in range(nterm):
    print(fibonacci(num))

Fibonacci Sequence
0
1
1
2
3

Lambda function

In [242]:
double=lambda x:x*2
print(double(5))

10

In [243]:
def double(x):
    return x*2
print(double(5))

10

In [244]:
lst=[1,2,3,4,5]
even_lst=list(filter(lambda x:(x%2==0),lst))
print(even_lst)

[2, 4]

In [245]:
lst=[1,2,3,4,5]
new_lst=list(map(lambda x:(x**2),lst))
print(new_lst)

[1, 4, 9, 16, 25]

In [249]:
def iseven(x) :
    if (x%2==0):
        return True
    else:
        return False

In [250]:
iseven(34)

True

In [251]:
iseven(45)

False

In [253]:
from functools import reduce
lst=[1,2,3,4,5]
product_lst=reduce(lambda x,y:x*y,lst)
print(product_lst)

120

In [254]:
import example
example.add(10,20)

ModuleNotFoundError: No module named 'example'

In [255]:
import math

In [256]:
math.pi

3.141592653589793

In [258]:
import datetime
datetime.datetime.now()

datetime.datetime(2020, 12, 22, 19, 36, 7, 514134)

In [264]:
a="krishna kumar"
a[-1:0:-1]

'ramuk anhsir'

In [265]:
from math import*

In [266]:
print("value of PI is" + str(pi))

value of PI is3.141592653589793

In [268]:
import os
os.getcwd()

'C:\\Users\\hp'

if_elif_else statment

In [270]:
age=int(input("Enter your age : "))
if age>=14:
    print("you are above 14")
else:
    print("you are below 14")

Enter your age : 45
you are above 14

In [271]:
# pass statment
if age>=12:

SyntaxError: unexpected EOF while parsing (<ipython-input-271-fee974cfe10f>, line 2)

In [272]:
if age>=14:
    pass

Generate Random Number in python

In [276]:
# Number gussing game
winning_number= 30
guess_number=int(input("Guess a number: "))
if winning_number==guess_number:
    print("You win")
elif winning_number<guess_number:
    print("You guess large number")
else:
    print("You guess small number")

Guess a number: 45
You guess large number

In [282]:
# Only that Person can watch this movies who name start with letter "a" or "A" 
name=input("Enter your name : ")
age=int(input("Enter your age : "))
if name[0]=='a' or name[0]=='A' and age>=10:
    print("you can watch that movies")
else:
    print("You cannot watch the movies")

Enter your name : Avinsh
Enter your age : 23
you can watch that movies

In [284]:
# Example of "in" keyword
# Only that Person can watch this movies who name contain letter "a" or "A" 
name=input("Enter your name : ")
age=int(input("Enter your age : "))
if ("a" or "A" in name) and age>=10:
    print("you can watch that movies")
else:
    print("You cannot watch the movies")

Enter your name : Manish
Enter your age : 12
you can watch that movies

In [287]:
name=input("Enter your name: ")
if name:
    print(f"Your name is {name}")
else:
    print("you did't type anything")

Enter your name:
you did't type anything

# while loop

In [288]:
# sum 1 to 10
total=0
i=1
while i<=10:
    total+=i
    i+=1
print("Total sum is {}".format(total))

Total sum is 55

In [293]:
# sum from 1 to any natual number
natural_number=int(input("Enter a number till you sum : "))
total=0
i=1
while i<=natural_number:
    total+=i
    i+=1
print("Total sum from 1 to that number is {}".format(total))

Enter a number till you sum : 20
Total sum from 1 to that number is 210

In [295]:
# sum of digits in number

number=input("Enter a number: ")
total=0
i=0
while i<len(number):
    total+=int(number[i])
    i+=1
print(total)

Enter a number: 12345679810
46

In [300]:
name=input("Please enter name : ")
i=0
while i<len(name):
    print(f"{name[i]}:{name.count(name[i])}")
    i+=1

Please enter name : krishna kumar
k:2
r:2
i:1
s:1
h:1
n:1
a:2
 :1
k:2
u:1
m:1
a:2
r:2

In [301]:
name=input("Please enter name : ")
temp_var=""
i=0
while i<len(name):
    if name[i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i]}:{name.count(name[i])}")
    i+=1

Please enter name : krishna kumar
k:2
r:2
i:1
s:1
h:1
n:1
a:2
 :1
u:1
m:1

# for loop

In [302]:
# for loop with range function
for i in range(10):
    print("krishna kumar")

krishna kumar
krishna kumar
krishna kumar
krishna kumar
krishna kumar
krishna kumar
krishna kumar
krishna kumar
krishna kumar
krishna kumar

In [303]:
for i in range(1,11):
    print(f"hello world : {i}")

hello world : 1
hello world : 2
hello world : 3
hello world : 4
hello world : 5
hello world : 6
hello world : 7
hello world : 8
hello world : 9
hello world : 10

In [305]:
for i in range(1,11):
    print({"hello world" : "i"})

{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}
{'hello world': 'i'}

In [307]:
sum=0
for ele in range(11):
    sum+=ele
print(sum)

55

In [309]:
n=int(input("Enter a number : "))
total=0
for i in range(1,n+1):
    total+=i
print(total)

Enter a number : 10
55

In [311]:
total=0
num=input("Enter a number: ")
for i in range(0,len(num)):
    total+=int(num[i])
print(total)

Enter a number: 12345
15

In [312]:
name=input("Enter your name: ")
temp=""
for i in range(len(name)):
    if name[i]not in temp:
        print(f'{name[i]}:{name.count(name[i])}')
        temp+=name[i]

Enter your name: krishna kumar
k:2
r:2
i:1
s:1
h:1
n:1
a:2
 :1
u:1
m:1

In [313]:
winning_number=43
guess=1
number=int(input("guess a number between 1 to 100 : "))
game_over=False
while not game_over:
    if number==winning_number:
        print(f"you win , and you guessed this number in {guess} times")
        game_over=True
    else:
        if number<winning_number:
            print("too low")
            guess +=1
            number=int(input("guess again: "))
        else:
            print("too high")
            guess+=1
            number=int(input("guess again : "))

guess a number between 1 to 100 : 45
too high
guess again : 40
too low
guess again: 41
too low
guess again: 42
too low
guess again: 44
too high
guess again : 43
you win , and you guessed this number in 6 times

In [315]:
import random


winning_number=random.randint(1,100)
guess=1
number=int(input("guess a number between 1 to 100 : "))
game_over=False
while not game_over:
    if number==winning_number:
        print(f"you win , and you guessed this number in {guess} times")
        game_over=True
    else:
        if number<winning_number:
            print("too low")
            guess +=1
            number=int(input("guess again: "))
        else:
            print("too high")
            guess+=1
            number=int(input("guess again : "))

guess a number between 1 to 100 : 56
too high
guess again : 45
too high
guess again : 34
too high
guess again : 30
too low
guess again: 33
you win , and you guessed this number in 5 times

In [316]:
winning_number=43
guess=1
number=int(input("guess a number between 1 to 100 : "))
game_over=False
while not game_over:
    if number==winning_number:
        print(f"you win , and you guessed this number in {guess} times")
        game_over=True
    else:
        if number<winning_number:
            print("too low")
        else:
            print("too high")
        guess+=1
        number=int(input("guess again : "))

guess a number between 1 to 100 : 56
too high
guess again : 40
too low
guess again : 42
too low
guess again : 43
you win , and you guessed this number in 4 times

In [317]:
winning_number=43
guess=1
number=int(input("guess a number between 1 to 100 : "))
game_over=False
while True:
    if number==winning_number:
        print(f"you win , and you guessed this number in {guess} times")
        break
    else:
        if number<winning_number:
            print("too low")
            guess +=1
            number=int(input("guess again: "))
        else:
            print("too high")
            guess+=1
            number=int(input("guess again : "))

guess a number between 1 to 100 : 40
too low
guess again: 41
too low
guess again: 44
too high
guess again : 43
you win , and you guessed this number in 4 times

In [321]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [323]:
name="krishna "
for i in range(len(name)):
    print(name[i])

k
r
i
s
h
n
a

In [324]:
for i in name:
    print(i)

k
r
i
s
h
n
a

In [326]:
num=input("Enter a number: ")
total=0
for i in num:
    total+=int(i)
print(total)

Enter a number: 23455
19

function question practice

In [327]:
def add_two(a,b):
    return a+b

In [328]:
add_two(4,5)

9

In [329]:
print(add_two(5,6))

11

In [335]:
def last_char(name):
    return name[-1]

In [334]:
last_char(input("Enter your name : "))

Enter your name : krishna

'a'

In [337]:
last_char("krishna")

'a'

In [339]:
def odd_number(num):
    return num%2!=0

In [340]:
odd_number(3)

True

In [341]:
odd_number(56)

False

In [342]:
def odd_even(num):
    if num%2== 0:
        return "Even"
    else:
        return "odd"

In [343]:
odd_even(6)

'Even'

In [344]:
odd_even(45)

'odd'

In [346]:
def greater_num(a,b):
    if a>b:
        return "a is greater number"
    return " b is greater number"

In [347]:
greater_num(5,6)

' b is greater number'

In [354]:
def larger_num(a,b):
    if a>b:
        return a
    else:
        return b
    
num1=int(input("Enter a first number : "))
num2=int(input("Enter a second number : "))
bigger=larger_num(num1,num2)
print(f"{bigger} is greater")

Enter a first number : 567
Enter a second number : 5574
5574 is greater

In [349]:
larger_num(4,5)

5

In [350]:
larger_num(6,2)

6
2

In [371]:
def greater_numbers(a,b,c):
    if a>b and a>c:
        return a
    elif b>c and b>a:
        return b
    else:
        return c
num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
num3=int(input("Enter 3rd number: "))
bigger=greater_numbers(num1,num2,num3)
print(f"{bigger} is greater")

Enter 1st number: 45
Enter 2nd number: 47
Enter 3rd number: 32
47 is greater

def greater_numbers(a,b,c):
    if a>b:
        return a
    elif b>c:
        return b
    return c
num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
num3=int(input("Enter 3rd number: "))
bigger=greater_numbers(num1,num2,num3)
print(f"{bigger} is greater")

In [372]:
def greater_numbers(a,b,c):
    if a>b and a>c:
        return a
    elif b>c and b>a:
        return b
    return c
num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
num3=int(input("Enter 3rd number: "))
bigger=greater_numbers(num1,num2,num3)
print(f"{bigger} is greater")

Enter 1st number: 24
Enter 2nd number: 3
Enter 3rd number: 45
45 is greater

In [373]:
def new_greatest(a,b,c):
    bigger=larger_num(a,b)
    return larger_num(bigger,c)

In [374]:
new_greatest(34,32,45
            )

45

In [375]:
def new_greatest(a,b,c):
    return larger_num(larger_num(a,b),c)

In [376]:
new_greatest(45,4,52
            )

52

In [378]:
name="madam"
if name[::]=name[::-1]:
    print("this is palindrom")
else:
    print("This is not palindrom")

SyntaxError: invalid syntax (<ipython-input-378-67bc118ed4ee>, line 2)

In [382]:
def is_palindrom(word):
    
    reversed_word=word[::-1]
    if word==reversed_word:
        return True
    else:
        return False

In [384]:
is_palindrom("madam")

True

In [385]:
is_palindrom("krishna")

False

In [386]:
is_palindrom("manish")

False

In [387]:
is_palindrom("naman")

True

In [388]:
def is_palindrom(word):
    if word==word[::-1]:
        return True
    return False

In [389]:
is_palindrom("naman")

True

In [391]:
for i in range(1,11):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

In [ ]:
'''
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method


'''

fibonacci squence

In [398]:
def fibonacci(num):
    """
    Recursive function to print fibonacci sequence
    """
    return num if num<=1 else fibonacci(num-1)+fibonacci(num-2)

print("Fibonacci Sequence")
for num in range(nterm):
    print(fibonacci(num),end=" ")
nterm=10

Fibonacci Sequence
0 1 1 2 3 5 8 13 21 34

In [408]:
# Method 1:
def fibonacci(num):
    """
    Recursive function to print fibonacci sequence
    """
    return num if num<=1 else fibonacci(num-1)+fibonacci(num-2)

for num in range(int(input("Enter a number : "))):
    print(fibonacci(num),end=" ")

Enter a number : 30
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229

In [409]:
# Method 2
def fibonacci_seq(n):
    a=0
    b=1
    if n==1:
        print(a)
    elif n==2:
        print(a,b)
    else:
        print(a,b,end=" ")
        for i in range(n-2):
            c=a+b
            a=b
            b=c
            print(b,end=" ")

In [415]:
fibonacci_seq(15
             )

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [419]:
# Method 2
def fibonacci_seq(n):
    a=0;b=1
    if n==1:
        print(a)
    elif n==2:
        print(a,b)
    else:
        print(a,b,end=" ")
        for i in range(n-2):
            c=a+b;a=b;b=c
            print(b,end=" ")
fibonacci_seq(10
             )

0 1 1 2 3 5 8 13 21 34

In [425]:
def user_info(first_name,last_name,age):
    print(f"Your first name is {first_name}")
    print(f"Your last name is {last_name}")
    print(f"Your age is {age}")

In [426]:
user_info('krishna','kumar',18)

Your first name is krishna
Your last name is kumar
Your age is 18

In [433]:
def user_info1(first_name,last_name="unknow",age=None):
    print(f"Your first name is {first_name}")
    print(f"Your last name is {last_name}")
    print(f"Your age is {age}")

In [435]:
user_info1("krishna")

Your first name is krishna
Your last name is unknow
Your age is None

# Scope (Global variable and local variable)

In [440]:
# x=5
def fuc():
#     global x
    y=7
    return y

In [441]:
fuc()

7

In [442]:
y

NameError: name 'y' is not defined

In [449]:
y=5
def fuc1():
    global y
    y=7
    return y

In [444]:
fuc1()

7

In [451]:
print(y)
print(fuc1())
print(y)

5
7
7

# List

In [452]:
# data structure
# ordered collection of items
# we can store anything in lists like int, float,string ect..
num=[1,2,3,3.4]

In [453]:
num

[1, 2, 3, 3.4]

In [454]:
mix=[2,3,4,"krishna",5.4,None]

In [455]:
mix

[2, 3, 4, 'krishna', 5.4, None]

In [457]:
a=[0,1,2,3,4,4,5,6,6]
a[1:]="krishna"

In [458]:
a

[0, 'k', 'r', 'i', 's', 'h', 'n', 'a']

loop in list

In [465]:
fruits=["apple",'orange','banana','grapes']
for fruit in fruits:
    print(fruit,end=",")
    
print(fruits, end=" ")

apple,orange,banana,grapes,['apple', 'orange', 'banana', 'grapes']

In [467]:
# list inside list using looping 
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in matrix:
    for i in sublist:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [471]:
number=list(range(0,30))
print(number,end=" ")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [469]:
number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [472]:
def negative_list(l):
    negative=[]
    for i in l:
        negative.append(-i)
    return negative

In [473]:
negative_list([1,2,3,4,5,6,7,7,8])

[-1, -2, -3, -4, -5, -6, -7, -7, -8]

In [478]:
def reverse_list(l):
    reverse=[]
    for i in l:
        reverse.append(l[::-1])
    return reverse

In [479]:
reverse_list([1,2,3,4,5,6])

[[6, 5, 4, 3, 2, 1],
 [6, 5, 4, 3, 2, 1],
 [6, 5, 4, 3, 2, 1],
 [6, 5, 4, 3, 2, 1],
 [6, 5, 4, 3, 2, 1],
 [6, 5, 4, 3, 2, 1]]

In [480]:
def reverse_list(l):
    reverse=[]
    reverse.append(l[::-1])
    return reverse
reverse_list([1,2,3,4,5,6])

[[6, 5, 4, 3, 2, 1]]

In [486]:
def reverse(l):
    return l.reverse()
print(reverse([1,2,3,4,5]))

None

In [487]:
def reverse(l):
    l.reverse()
    return l
print(reverse([1,2,3,4,5]))

[5, 4, 3, 2, 1]

In [488]:
# ///////////////// revised ///////////
def reversed_list(l):
    r_list=[]
    for i in range(len(l)):
        popped_item=l.pop()
        r_list.append(popped_item)
    return r_list
reversed_list([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [481]:
def squred_list(l):
    squred=[]
    for i in l:
        squred.append(i**2)
    return squred
squred_list([1,2,3,4,5,6])

[1, 4, 9, 16, 25, 36]

In [484]:
def squred_num(l):
    return i**2
squred_num([1,2,3,4,5])

81

In [490]:
word=["abc","tuv","xyz"]
def reverse_word(l):
    r_word=[]
    for i in l:
        r_word.append(i[::-1])
    return r_word
reverse_word(word)

['cba', 'vut', 'zyx']

In [491]:
lst=[1,2,3,4,5,6,7]
def filter_odd_even(l):
    filter_list=[]
    for i in lst:
        filter_list.append(i%2==0)
    else:
        filter_list.append(i%2!=0)
    return filter_list
filter_odd_even(lst)

[[], False, True, False, True, False, True, False, True]

In [492]:
lst=[1,2,3,4,5,6,7]
def filter_odd_even(l):
    odd_nums=[]
    even_nums=[]
    for i in l:
        if i%2==0:
            even_nums.append(i)
        else:
            odd_nums.append(i)
    output=[odd_nums,even_nums] 
    return output
filter_odd_even(lst)

[[1, 3, 5, 7], [2, 4, 6]]

In [493]:
filter_odd_even([23,24,34,23,213,45,356,653,7555,7455,23,65475,43345])

[[23, 23, 213, 45, 653, 7555, 7455, 23, 65475, 43345], [24, 34, 356]]

In [500]:
def common_element(a,b):
    common_finder=[]
    for i in a:
        if i in b:
            common_finder.append(i)
    return common_finder
common_element([1,2,3,4,5],[2,3,4,1])

[1, 2, 3, 4]

In [ ]:
a=[1,2,3,5,6,7,8]
b=[2,4,6,7,8,9,0,4]

def common_element(a,b):
    common_finder=[]
    for i in a:
        if i in b:
            common_finder.append(i)
    return common_finder
common_element(a,b)

In [1]:
def common_element(a,b):
    common_finder=[]
    for i in a:
        if i in b:
            common_finder.append(i)
    return common_finder
common_element([1,2,3,4,5],[2,3,4,1])

[1, 2, 3, 4]

In [ ]:
import numpy as np

In [3]:
numbers=[34,45,2]
def greatest_def(l):
    return max(l)-min(l)
greatest_def(numbers)

43

Tuple

In [ ]:
# Tuples are immutable
# tuples are ordered collection of itiems
# tuples can store any data types
# we cannot  change the value of tuples  once it create
# but can delete ,add data from list which present in the tuple 
# no append,no pop,no insert,no remove
#only count and index
# function(min(),max(),len(),sum())
# tuple is faster than list

In [4]:
# function returning two value
def func(int1,int2):
    add=int1+int2
    multiply=int1*int2
    return add,multiply

In [5]:
# Its gives add and multilpy in tuple 
func(5,6)

(11, 30)

In [6]:
# if we want to print separate add, multiply
add,multiply=func(5,6)
print(add)
print(multiply)

11
30

In [7]:
nums=tuple(range(1,11))
nums

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
a=range(1,10)
a

range(1, 10)

In [10]:
list(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
str(nums)

'(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)'

In [12]:
mixed=(1,2,3,4,[1,2,3,4])
mixed[4].pop()

4

Dictionary

In [31]:
user_info={"name":"krishna","age":24,"greeting":"Good morning"}
user_info

{'name': 'krishna', 'age': 24, 'greeting': 'Good morning'}

In [21]:
if "name" in user_info:
    print('present')

present

In [24]:
if "krishna"in user_info.values():
    print("present")
else:
    print("not present")

present

In [27]:
for i in user_info.values():
    print(i)

krishna
24
Good morning

In [28]:
for i in user_info.keys():
    print(i)

name
age
great

In [32]:
for key,value in user_info.items():
    print(f" key is {key} and value is {value}")

 key is name and value is krishna
 key is age and value is 24
 key is greeting and value is Good morning

In [34]:
for i, j in user_info.items():
    print(f" key is {i} and value is {j}")

 key is name and value is krishna
 key is age and value is 24
 key is greeting and value is Good morning

In [35]:
# fromkeys method
a=dict.fromkeys(('name','age','height'),'unknown')
print(a)

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [37]:
b=dict.fromkeys(range(10),'unknown')
print(b)

{0: 'unknown', 1: 'unknown', 2: 'unknown', 3: 'unknown', 4: 'unknown', 5: 'unknown', 6: 'unknown', 7: 'unknown', 8: 'unknown', 9: 'unknown'}

In [38]:
# getkeys method
print(a.get("name"))

unknown

In [39]:
a["name"]

'unknown'

In [40]:
a["names"]

KeyError: 'names'

In [43]:
print(a.get("names"))

None

In [42]:
a

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [44]:
if "name" in a:
    print("present")
else:
    print("Not present")

present

In [45]:
if a.get("name"):
    print("present")
else:
    print("Not present")

present

In [46]:
if a.get("names"):
    print("present")
else:
    print("Not present")

Not present

In [47]:
a

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [48]:
a=b

In [52]:

print(a is b)

True

In [56]:
def cube_finder(n):
    cube={}
    for i in range(1,n+1):
        cube[i]=i**3
    return cube
cube_finder(10)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [58]:
def sqaure_finder(n):
    squared={}
    for i in range(1,n+1):
        squared[i]=i**2
    return squared
print(sqaure_finder(10))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [60]:
# Word Counter
def word_counter(s):
    count={}
    for char in s:
        count[char]=s.count(char)
    return count
word_counter("krishna kumar")

{'k': 2,
 'r': 2,
 'i': 1,
 's': 1,
 'h': 1,
 'n': 1,
 'a': 2,
 ' ': 1,
 'u': 1,
 'm': 1}

In [61]:
user={}
name=input("What is your name : ")
age=int(input("What is your age : "))
fav_movies=input("your fav_movies separated by comma").split(",")
fav_songs=input("your fav_songs separated by comma").split(",")

user["name"]=name
user["age"]=age
user["fav_movies"]=fav_movies
user["fav_songs"]=fav_songs
print(user)

What is your name : krishna
What is your age : 23
your fav_movies separated by commam1,m2
your fav_songs separated by commas1,s2
{'name': 'krishna ', 'age': 23, 'fav_movies': ['m1', 'm2'], 'fav_songs': ['s1', 's2']}

In [63]:
user={}
name=input("What is your name : ")
age=int(input("What is your age : "))
fav_movies=input("your fav_movies separated by comma").split(",")
fav_songs=input("your fav_songs separated by comma").split(",")

user["name"]=name
user["age"]=age
user["fav_movies"]=fav_movies
user["fav_songs"]=fav_songs
print(user)
for key,value in user.items():
    print(f"{key}:{value}")

What is your name : krishna kuamr
What is your age : 22
your fav_movies separated by commamovies1
your fav_songs separated by commasong1,song2
{'name': 'krishna kuamr', 'age': 22, 'fav_movies': ['movies1'], 'fav_songs': ['song1', 'song2']}
name:krishna kuamr
age:22
fav_movies:['movies1']
fav_songs:['song1', 'song2']

set

In [ ]:
# we cannot store list or dictonary in set

In [64]:
l=[1,2,3,4,4,4,5,5,6,6,7,5,4,23,4]
s=set(l)
print(s)

{1, 2, 3, 4, 5, 6, 7, 23}

In [65]:
list(s)

[1, 2, 3, 4, 5, 6, 7, 23]

In [66]:
s.discard(23)

In [67]:
s

{1, 2, 3, 4, 5, 6, 7}

# list comprehension

In [ ]:
# with help of list comprehension we can create list in one line

In [70]:
# create a list of sqaure  from 1 to 10
square=[]
for i in range(1,11):
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
square1=[i**2 for i in range(1,11)]
square1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
negative=[]
for i in range(1,11):
    negative.append(-i)
print(negative)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [76]:
negative1=[-i for i in range(1,11)]
negative1

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [77]:
names=["krishna ","mohit",'rohit',"manish"]
new_list=[]
for name in names:
    new_list.append(name[0])
print(new_list)

['k', 'm', 'r', 'm']

In [78]:
new_list1=[name[0] for name in names]
new_list1

['k', 'm', 'r', 'm']

In [79]:
l=["abc","tuv","xyz"]
reverse_list=[i[::-1] for i in l]
reverse_list

['cba', 'vut', 'zyx']

In [80]:
def reverse_string(l):
    return [i[::-1] for i in l]
reverse_string(l)

['cba', 'vut', 'zyx']

In [81]:
# list comprehension with if statement
numbers=list(range(1,11))
even_num=[i for i in numbers if i%2==0]
even_num

[2, 4, 6, 8, 10]

In [82]:
even_nums=[i for i in range(1,11) if i%2==0]
even_nums

[2, 4, 6, 8, 10]

In [83]:
odd_num=[i for i in range(1,11) if i%2!=0]
odd_num

[1, 3, 5, 7, 9]

In [84]:
def num_to_string(l):
    return [str(i) for i in l if (type(i)==int or type(i)==float)]
num_to_string([False,True,1,2,3.3,5.5])

['1', '2', '3.3', '5.5']

In [88]:
# list comprehension with if else
new_list=[i*2 if (i%2==0) else -i for i in range(1,11) ]
new_list

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [89]:
# list comprehension in nested list
nested_com=[[i for i in range(1,4)] for j in range(3)]
nested_com

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [90]:
# list comprehension in nested list
nested_com=[[i for i in range(1,4)] for i in range(3)]
nested_com

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [91]:
# dictionary comprehension 
squared={i:i**2 for i in range(1,11)}
squared

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [93]:
squared={f"square of {i} is":i**2 for i in range(1,11)}
squared

{'square of 1 is': 1,
 'square of 2 is': 4,
 'square of 3 is': 9,
 'square of 4 is': 16,
 'square of 5 is': 25,
 'square of 6 is': 36,
 'square of 7 is': 49,
 'square of 8 is': 64,
 'square of 9 is': 81,
 'square of 10 is': 100}

In [94]:
for k,v in squared.items():
    print(f"{k}:{v}")

square of 1 is:1
square of 2 is:4
square of 3 is:9
square of 4 is:16
square of 5 is:25
square of 6 is:36
square of 7 is:49
square of 8 is:64
square of 9 is:81
square of 10 is:100

In [95]:
string="krishna"
word_count={char:string.count(char) for char in string}
print(word_count)

{'k': 1, 'r': 1, 'i': 1, 's': 1, 'h': 1, 'n': 1, 'a': 1}

In [97]:
# dictionary comprehension with if else
odd_even={i:("even" if i%2==0 else 'odd') for i in range(1,11)}
odd_even

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

In [99]:
# set comprehension
s={k**2 for k in range(1,11)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [100]:
first={name[0] for name in ["krishna ","mohit","rohit"]}

In [101]:
first

{'k', 'm', 'r'}

args operator

In [102]:

def all_total(*args):
    total=0
    for num in args:
        total+=num
    return total
print(all_total(1,2,3,3,4))

13

In [ ]:
def all_total(*args):
    total=0
    for num in args:
        total+=num
    return total
print(all_total(1,2,3,3,4))

In [103]:
# *args with normal parameter
def multiply_nums(*args):
    multiply=1
    for i in args:
        multiply*=i
    return multiply
multiply_nums(2,3,6)

36

In [104]:
def to_power(num,*args):
    if args:
        return [i**num for i in args]
    else:
        return "You didn't pass any args "

In [106]:
nums=[2,4,6,7]
to_power(2,*nums)

[4, 16, 36, 49]

In [107]:
to_power(2)

"You didn't pass any args "

# **kwargs(keyword argument)

In [108]:
# kwagrs as parameter
def func(**kwargs):
    print(kwargs)
func(first_name="krishna",last_name="kumar")

{'first_name': 'krishna', 'last_name': 'kumar'}

#

In [112]:
 def func1(**kwargs):
    for k,v in kwargs.items():
        print(f"{k}:{v}")
func1(first_name="krishna",last_name="kumar")

first_name:krishna
last_name:kumar

In [ ]:
# function with all parameter
# PADK (always maintain order)
# { parameters
# *args
# defult parameters
# **kwargs }

In [113]:
def func(name,*args,last_name="unknown",**kwargs):
    print(name)
    print(args)
    print(last_name)
    print(kwargs)
func("krishna ",1,2,3,a=1,b=2)

krishna
(1, 2, 3)
unknown
{'a': 1, 'b': 2}

In [118]:
def func(l,**kwargs):
    if kwargs.get("reverse_str")==True:
        return [name[::-1].title() for name in l]
    else:
        return [name.title() for name in l]
names=['krishna','mohit']
print(func(names,reverse_str=True))

['Anhsirk', 'Tihom']

# Lambda expression(anonyous fuction)

In [119]:
def add(a,b):
    return a+b
add(2,3)

5

In [122]:
add2=lambda a,b:a+b
print(add2(2,3))
print(add2)

5
<function <lambda> at 0x0000020085D19158>

In [124]:
multipy=lambda a,b:a*b
print(multipy(6,7))
print(multipy)

42
<function <lambda> at 0x0000020085D19510>

In [125]:
reverse=lambda a:a[::-1]
print(reverse("krishan"))

nahsirk

In [126]:
# lambda practice
last_char=lambda s:s[-1]
print(last_char("krishan"))

n

In [127]:
func=lambda s: True if len(s)>5 else False
func("krishna")

True

In [128]:
func1=lambda s:len(s)>5
func1("krishna ")

True

# enumerate function

In [ ]:
# we use enumerate function with  for loop to track position of our items 
# iterable

In [129]:
# how can we o this without enumerate function
names=['abc','abcdefg','krishna']
pos=0
for name in names:
    print(f"{pos}----->{name}")
    pos+=1

0----->abc
1----->abcdefg
2----->krishna

In [130]:
# with enumerate function
for pos,name in enumerate(names):
    print(f"{pos}----->{name}")

0----->abc
1----->abcdefg
2----->krishna

In [134]:
# define a function that take two aguments
# 1. list containing string
# 2. string that want to find in your list
# and this function will return the index of  string in your list and
# if string is not present return -1
def find_pos(l,target):
    for pos,name in enumerate(l):
        if name==target:
            return pos
    return -1
find_pos(names,"krishna")
# names=['abc','abcdefg','krishna']

2

In [135]:
def find_pos(l,target):
    for pos,name in enumerate(l):
        if name==target:
            return pos
    return -1
find_pos(names,"krishan")

-1

# Map Function

In [137]:
number=[1,2,3,4]
def square(a):
    return a**2
square=list(map(square,number))
print(square)

[1, 4, 9, 16]

In [138]:
square=list(map(lambda a:a**2,number))
square

[1, 4, 9, 16]

In [140]:
# list comprehension
square_new=[i**2 for i in number]
square_new

[1, 4, 9, 16]

In [141]:
names

['abc', 'abcdefg', 'krishna']

In [144]:
length=map(len,names)
for i in length:
    print(i)

3
7
7

In [146]:
length=list(map(len,names))
print(length)

[3, 7, 7]

filter function

In [149]:
def is_even(a):
    return a%2==0
numbers=[1,2,3,4,3,43,54,35656,354]
evens=tuple(filter(is_even,numbers))
evens

(2, 4, 54, 35656, 354)

In [150]:
evens=tuple(filter(lambda a:a%2==0,numbers))
evens

(2, 4, 54, 35656, 354)

In [151]:
evens=filter(lambda a:a%2==0,numbers)
for i in evens:
    print(i)

2
4
54
35656
354

zip function

In [152]:
user_id=['user1','user2','user3']
name=['krishna','mohit','rohit']
last_name=['kumar','prasad','patel']
print(list(zip(user_id,name,last_name)))

[('user1', 'krishna', 'kumar'), ('user2', 'mohit', 'prasad'), ('user3', 'rohit', 'patel')]

In [156]:
# example=('a',1),('b',2)
print(dict([('a',1),('b',2)]))

{'a': 1, 'b': 2}

In [157]:
l=[(1,2),(3,4),(4,5),(6,7)]
print(list(zip(*l)))

[(1, 3, 4, 6), (2, 4, 5, 7)]

In [158]:
l1,l2=list(zip(*l))
print(list(l1))
print(list(l2))

[1, 3, 4, 6]
[2, 4, 5, 7]

In [159]:
l1

(1, 3, 4, 6)

In [160]:
l2

(2, 4, 5, 7)

In [161]:
new_list=[]
for pair in zip(l1,l2):
    new_list.append(max(pair))
print(new_list)

[2, 4, 5, 7]

In [162]:
def average_finder(l1,l2):
    average=[]
    for pair in zip(l1,l2):
        average.append(sum(pair)/len(pair))
    return average
print(average_finder([1,2,3],[4,5,6]))

[2.5, 3.5, 4.5]

In [163]:
def average_finder(*args):
    average=[]
    for pair in zip(*args):
        average.append(sum(pair)/len(pair))
    return average
print(average_finder([1,2,3],[4,5,6],[7,8,9]))

[4.0, 5.0, 6.0]

In [165]:
average_finder=lambda *args:[(sum(pair)/len(pair)) for pair in zip(*args)]
print(average_finder([1,2,3],[4,5,6],[7,8,9]))

[4.0, 5.0, 6.0]

In [168]:
# all, any function
number1=[2,4,8,10,4,6]
number2=[1,2,3,5,4,3,5]
print(all([num%2==0 for num in number2]))

False

In [169]:
# all, any function
number1=[2,4,8,10,4,6]
number2=[1,2,3,5,4,3,5]
print(any([num%2==0 for num in number2]))

True

In [174]:
# any all function 
def my_sum(*args):
    if all([(type(arg)==int or type(arg)==float) for arg in args]):
        total=0
        for num in args:
            total+=num
        return total
    else:
        return "wrong input"
print(my_sum(1,2,3,4,4.5,'krishna '))

wrong input

In [173]:
def my_sum(*args):
    if all([(type(arg)==int or type(arg)==float) for arg in args]):
        total=0
        for num in args:
            total+=num
        return total
    else:
        return "wrong input"
print(my_sum(1,2,3,4,4.5))

14.5

# Advance min,max function

In [175]:
names=["krishna","mohit","abc"]
print(max(names,key=lambda item : len(item)))

krishna

In [186]:
students={
       "krishna":{"score":90,"age":18},
        "mohit":{"score":80,"age":19}, 
        "rohit":{"score":70,"age":17}        
}
              
print(max(students,key=lambda item:students[item]["score"]))

krishna

In [190]:
student1={"lrishna":{"score":90,"age":19},
          "mohit":{"score":99,"age":19},
          "rohit":{"score":70,"age":17}}
print(max(student1,key=lambda item:student1[item]["score"]))

mohit

In [184]:
student1=[{"name":"krishna","score":90,"age":19},
          {"name":"mohit","score":95,"age":15},
          {"name":"rohit","score":80,"age":18}]
print(max(student1,key=lambda item:item.get("age")))

{'name': 'krishna', 'score': 90, 'age': 19}

In [185]:
student1=[{"name":"krishna","score":90,"age":19},
          {"name":"mohit","score":95,"age":15},
          {"name":"rohit","score":80,"age":18}]
print(max(student1,key=lambda item:item.get("age"))['name'])

krishna

sort function

In [192]:
# tuple allow sort function 
fruits=["grapes","mango","apple"]
fruits.sort()
print(fruits)

['apple', 'grapes', 'mango']

In [193]:
fruits1=("grapes","mango","apple")
fruits1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [194]:
sorted(fruits1)

['apple', 'grapes', 'mango']

In [195]:
fruits2={"grapes","apple","mango"}
fruits2.sort()

AttributeError: 'set' object has no attribute 'sort'

In [196]:
sorted(fruits2)

['apple', 'grapes', 'mango']

In [198]:
guitars=[
    {"model":"yamaha","price":8400},
    {"model":"faith naptune","price":35000},
     {"model":"faith apollo","price":50000}]
print(sorted(guitars,key=lambda d:d["price"]))

[{'model': 'yamaha', 'price': 8400}, {'model': 'faith naptune', 'price': 35000}, {'model': 'faith apollo', 'price': 50000}]

In [200]:
guitars=[
    {"model":"yamaha","price":8400},
    {"model":"faith naptune","price":35000},
     {"model":"faith apollo","price":50000}]
print(sorted(guitars,key=lambda d:d.get("price")))

[{'model': 'yamaha', 'price': 8400}, {'model': 'faith naptune', 'price': 35000}, {'model': 'faith apollo', 'price': 50000}]

In [203]:
l=[1,2,3,4]
def square(a):
    return a**2
print(list(map(square,l)))

[1, 4, 9, 16]

In [204]:
# function return function

def outer_func():
    def inner_func():
        print("inside inner func")
    return inner_func

In [206]:
var=outer_func()
var()

inside inner func

In [208]:
a=inner_func()
a()

NameError: name 'inner_func' is not defined

In [211]:
def outer_func2(msg):
    def inner_func2():
        print(f"message is {msg}")
    return inner_func2

In [212]:
var=outer_func2("hello there !")
var()

message is hello there !

# function returning function (closures,first class function)

In [214]:
def to_power(x):
    def calc_power(n):
        return n**x
    return calc_power

In [217]:
cube=to_power(3)
print(cube(3))

27

Decorators

In [ ]:
# Enhance functionality of other function
# @ use for decorator

In [218]:
def func1():
    print("this is function1")

In [219]:
def func2():
    print("this is function2")

In [220]:
def decorator_function(any_function):
    def wrapper_function():
        print("this is awesome function")
        any_function()
    return wrapper_function

In [221]:
var=decorator_function(func1)
var()

this is awesome function
this is function1

In [222]:
func1=decorator_function(func1)
func1()

this is awesome function
this is function1

In [224]:
@decorator_function
def func1():
    print("this is function1")
func1()

this is awesome function
this is function1

In [226]:
@decorator_function
def func2():
    print("this is function2")
func2()

this is awesome function
this is function2

In [230]:
def decorator(any_func):
    def wrapper():
        print("what is your name ?")
        any_func()
    return wrapper

In [231]:
@decorator
def name1():
    print("MY Name is Krishna kumar")
name1()

what is your name ?
MY Name is Krishna kumar

In [232]:
def decorator_function(any_function):
    def wrapper_function(*args,**kwargs):
        print("this is awesome function")
        return any_function(*args,**kwargs)
    return wrapper_function

In [236]:
@decorator_function
def func(a):
    print(f"this function with argument {a}")
func(5)

this is awesome function
this function with argument 5

In [237]:
@decorator_function
def add(a,b):
    return a+b
print(add(4,5))

this is awesome function
9

In [238]:
def decorator_function(any_function):
    def wrapper_function(*args,**kwargs):
        """ this is wrapper function"""
        print("this is awesome function")
        return any_function(*args,**kwargs)
    return wrapper_function

In [239]:
@decorator_function
def add(a,b):
    """ this is add funtion"""
    return a+b
print(add(4,5))

this is awesome function
9

In [240]:
add.__doc__

' this is wrapper function'

In [241]:
add.__name__

'wrapper_function'

In [242]:
from functools import wraps
def decorator_function(any_function):
    @wraps(any_function)
    def wrapper_function(*args,**kwargs):
        """ this is wrapper function"""
        print("this is awesome function")
        return any_function(*args,**kwargs)
    return wrapper_function

In [246]:
@decorator_function
def add(a,b):
    """ this is add funtion"""
    return a+b
print(add(4,5))
print(add.__doc__)
print(add.__name__)

this is awesome function
9
 this is add funtion
add

In [247]:
from functools import wraps
def print_func_data(any_function):
    @wraps(any_function)
    def wrapper_function(*args,**kwargs):
        """ this is wrapper function"""
        print("you are calling add function")
        return any_function(*args,**kwargs)
    return wrapper_function

In [248]:
@print_func_data
def add(a,b):
    """ this function takes two argument and return their sum"""
    return a+b
print(add(4,5))
print(add.__doc__)
print(add.__name__)

you are calling add function
9
 this function takes two argument and return their sum
add

In [249]:
def print_function_data(function):
    @wraps(function)
    def wrapper(*args,**kwargs):
        print(f"You are calling {function.__name__} function")
        print(f"{function.__doc__}")
        return function(*args,**kwargs)
    return wrapper

In [250]:
@print_function_data
def add(a,b):
    """ this function takes two argument and return their sum"""
    return a+b
print(add(4,5))

You are calling add function
 this function takes two argument and return their sum
9

In [251]:
import time
t1=time.time()
print("this is line one")
x=5
if x==5:
    print("x is equal to 5 ")
t2=time.time()
print(t2-t1)

this is line one
x is equal to 5
0.0

In [252]:
import time
t1=time.time()
print("this is line one")
x=5
if x==5:
    print("x is equal to 5 ")
print("x is equal to 5 ")
print("x is equal to 5 ")
print("x is equal to 5 ")
print("x is equal to 5 ")
print("x is equal to 5 ")
t2=time.time()
print(t2-t1)

this is line one
x is equal to 5
x is equal to 5
x is equal to 5
x is equal to 5
x is equal to 5
x is equal to 5
0.0

In [253]:
from functools import wraps
import time
def calcutale_time(function):
    @wraps(function)
    def wrapper(*args,**kwargs):
        print(f" Executing ..{function.__name__}")
        t1=time.time()
        returned_value=function(*args,**kwargs)
        t2=time.time()
        total_time=t2-t1
        print(f" This function took {total_time} seconds")
        return returned_value
    return wrapper

In [254]:
@calcutale_time
def square_finder(n):
    return [i**2 for i in range(1,n+1)]
square_finder(1000)

 Executing ..square_finder
 This function took 0.18594145774841309 seconds

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001,
 250000,
 251001,
 252004,
 253009,
 254016,
 255025,
 256036,
 257049,
 258064,
 259081,
 260100,
 261121,
 262144,
 263169,
 264196,
 265225,
 266256,
 267289,
 268324,
 269361,
 270400,
 271441,
 272484,
 273529,
 274576,
 275625,
 276676,
 277729,
 278784,
 279841,
 280900,
 281961,
 283024,
 284089,
 285156,
 286225,
 287296,
 288369,
 289444,
 290521,
 291600,
 292681,
 293764,
 294849,
 295936,
 297025,
 298116,
 299209,
 300304,
 301401,
 302500,
 303601,
 304704,
 305809,
 306916,
 308025,
 309136,
 310249,
 311364,
 312481,
 313600,
 314721,
 315844,
 316969,
 318096,
 319225,
 320356,
 321489,
 322624,
 323761,
 324900,
 326041,
 327184,
 328329,
 329476,
 330625,
 331776,
 332929,
 334084,
 335241,
 336400,
 337561,
 338724,
 339889,
 341056,
 342225,
 343396,
 344569,
 345744,
 346921,
 348100,
 349281,
 350464,
 351649,
 352836,
 354025,
 355216,
 356409,
 357604,
 358801,
 360000,
 361201,
 362404,
 363609,
 364816,
 366025,
 367236,
 368449,
 369664,
 370881,
 372100,
 373321,
 374544,
 375769,
 376996,
 378225,
 379456,
 380689,
 381924,
 383161,
 384400,
 385641,
 386884,
 388129,
 389376,
 390625,
 391876,
 393129,
 394384,
 395641,
 396900,
 398161,
 399424,
 400689,
 401956,
 403225,
 404496,
 405769,
 407044,
 408321,
 409600,
 410881,
 412164,
 413449,
 414736,
 416025,
 417316,
 418609,
 419904,
 421201,
 422500,
 423801,
 425104,
 426409,
 427716,
 429025,
 430336,
 431649,
 432964,
 434281,
 435600,
 436921,
 438244,
 439569,
 440896,
 442225,
 443556,
 444889,
 446224,
 447561,
 448900,
 450241,
 451584,
 452929,
 454276,
 455625,
 456976,
 458329,
 459684,
 461041,
 462400,
 463761,
 465124,
 466489,
 467856,
 469225,
 470596,
 471969,
 473344,
 474721,
 476100,
 477481,
 478864,
 480249,
 481636,
 483025,
 484416,
 485809,
 487204,
 488601,
 490000,
 491401,
 492804,
 494209,
 495616,
 497025,
 498436,
 499849,
 501264,
 502681,
 504100,
 505521,
 506944,
 508369,
 509796,
 511225,
 512656,
 514089,
 515524,
 516961,
 518400,
 519841,
 521284,
 522729,
 524176,
 525625,
 527076,
 528529,
 529984,
 531441,
 532900,
 534361,
 535824,
 537289,
 538756,
 540225,
 541696,
 543169,
 544644,
 546121,
 547600,
 549081,
 550564,
 552049,
 553536,
 555025,
 556516,
 558009,
 559504,
 561001,
 562500,
 564001,
 565504,
 567009,
 568516,
 570025,
 571536,
 573049,
 574564,
 576081,
 577600,
 579121,
 580644,
 582169,
 583696,
 585225,
 586756,
 588289,
 589824,
 591361,
 592900,
 594441,
 595984,
 597529,
 599076,
 600625,
 602176,
 603729,
 605284,
 606841,
 608400,
 609961,
 611524,
 613089,
 614656,
 616225,
 617796,
 619369,
 620944,
 622521,
 624100,
 625681,
 627264,
 628849,
 630436,
 632025,
 633616,
 635209,
 636804,
 638401,
 640000,
 641601,
 643204,
 644809,
 646416,
 648025,
 649636,
 651249,
 652864,
 654481,
 656100,
 657721,
 659344,
 660969,
 662596,
 664225,
 665856,
 667489,
 669124,
 670761,
 672400,
 674041,
 675684,
 677329,
 678976,
 680625,
 682276,
 683929,
 685584,
 687241,
 688900,
 690561,
 692224,
 693889,
 695556,
 697225,
 698896,
 700569,
 702244,
 703921,
 705600,
 707281,
 708964,
 710649,
 712336,
 714025,
 715716,
 717409,
 719104,
 720801,
 722500,
 724201,
 725904,
 727609,
 729316,
 731025,
 732736,
 734449,
 736164,
 737881,
 739600,
 741321,
 743044,
 744769,
 746496,
 748225,
 749956,
 751689,
 753424,
 755161,
 756900,
 758641,
 760384,
 762129,
 763876,
 765625,
 767376,
 769129,
 770884,
 772641,
 774400,
 776161,
 777924,
 779689,
 781456,
 783225,
 784996,
 786769,
 788544,
 790321,
 792100,
 793881,
 795664,
 797449,
 799236,
 801025,
 802816,
 804609,
 806404,
 808201,
 810000,
 811801,
 813604,
 815409,
 817216,
 819025,
 820836,
 822649,
 824464,
 826281,
 828100,
 829921,
 831744,
 833569,
 835396,
 837225,
 839056,
 840889,
 842724,
 844561,
 846400,
 848241,
 850084,
 851929,
 853776,
 855625,
 857476,
 859329,
 861184,
 863041,
 864900,
 866761,
 868624,
 870489,
 872356,
 874225,
 876096,
 877969,
 879844,
 881721,
 883600,
 885481,
 887364,
 889249,
 891136,
 893025,
 894916,
 896809,
 898704,
 900601,
 902500,
 904401,
 906304,
 908209,
 910116,
 912025,
 913936,
 915849,
 917764,
 919681,
 921600,
 923521,
 925444,
 927369,
 929296,
 931225,
 933156,
 935089,
 937024,
 938961,
 940900,
 942841,
 944784,
 946729,
 948676,
 950625,
 952576,
 954529,
 956484,
 958441,
 960400,
 962361,
 964324,
 966289,
 968256,
 970225,
 972196,
 974169,
 976144,
 978121,
 980100,
 982081,
 984064,
 986049,
 988036,
 990025,
 992016,
 994009,
 996004,
 998001,
 1000000]

In [258]:
from functools import wraps
def only_int_allow(function):
    @wraps(function)
    def wrapper(*args,**kwargs):
        data_types=[]
        for arg in args:
            data_types.append(type(arg)==int)
        if all(data_types):
            return function(*args,**kwargs)
        else:
            return "Invalid argument"
    return wrapper

In [260]:
@only_int_allow
def add_all(*args):
    total=0
    for i in args:
        total+=i
    return total
print(add_all(1,2,3,4,5,[1,3,4,2]))

Invalid argument

In [261]:
from functools import wraps
def only_int_allow(function):
    @wraps(function)
    def wrapper(*args,**kwargs):
        if all([type(arg)==int for arg in args]):
            return function(*args,**kwargs)  
#         data_types=[]
#         for arg in args:
#             data_types.append(type(arg)==int)
#         if all(data_types):
#             return function(*args,**kwargs)
#         else:
#             return "Invalid argument"
    return wrapper

In [262]:
@only_int_allow
def add_all(*args):
    total=0
    for i in args:
        total+=i
    return total
print(add_all(1,2,3,4,5))

15

Generator Function

In [263]:
# list
import time
t1=time.time()
l=[i**2 for i in range(10000000)]
print(time.time()-t1)

11.346755266189575

In [264]:
# Generator
import time
t1=time.time()
l=(i**2 for i in range(10000000))
print(time.time()-t1)

0.9265029430389404

In [265]:
def even_generator(n):
    for i in range(2,n+1):
        yield i
even_generator(10)

In [266]:
even_num=even_generator(10)
for i in even_num:
    print(i)

2
3
4
5
6
7
8
9
10

# Object Oriented Programming (OOP)

In [267]:
class Person:
    def __init__(self,first_name,last_name,age):
#         instance variable
        self.first_name=first_name
        self.last_name=last_name
        self.age=age
p1=Person("krishna","kumar",18)
p2=Person("mohit","patal",24)

In [269]:
print(p1.first_name)
print(p2.first_name)

krishna
mohit

In [270]:
class Laptop:
    def __init__(self,brand_name,model_name,price):
        
        self.brand_name=brand_name
        self.model_name=model_name
        self.price=price
p1=Laptop("hp","2000",30000)
print(p1.brand_name)

hp

In [281]:
class Laptop:
    def __init__(self,brand_name,model_name,price):
        
        self.brand_name=brand_name
        self.model_name=model_name
        self.price=price



    def apply_discount(self,num):
        off_price=(num/100)*self.price
        return self.price-off_price
laptop1=Laptop("hp","2000",30000)
laptop2=Laptop("apple","mac bookpro",230000)
print(laptop2.apply_discount(10))

207000.0

In [282]:
laptop2.__dict__

{'brand_name': 'apple', 'model_name': 'mac bookpro', 'price': 230000}

In [283]:
laptop2.discount_percent=50
laptop2.__dict__

{'brand_name': 'apple',
 'model_name': 'mac bookpro',
 'price': 230000,
 'discount_percent': 50}

In [288]:
class Laptop:
    def __init__(self,brand_name,model_name,price):
        
        self.brand_name=brand_name
        self.model_name=model_name
        self.price=price



    def apply_discount(self):
        off_price=(self.discount_percent/100)*self.price
        return self.price-off_price
laptop1=Laptop("hp","2000",30000)
laptop2=Laptop("apple","mac bookpro",230000)
# print(laptop2.apply_discount(10))
laptop2.discount_percent=50
laptop2.__dict__
print(laptop2.apply_discount())

115000.0

In [290]:
class Laptop:
    discount_percent=10
    def __init__(self,brand_name,model_name,price):
        
        self.brand_name=brand_name
        self.model_name=model_name
        self.price=price



    def apply_discount(self):
        off_price=(Laptop.discount_percent/100)*self.price
        return self.price-off_price
laptop1=Laptop("hp","2000",30000)
laptop2=Laptop("apple","mac bookpro",230000)
# print(laptop2.apply_discount(10))
# laptop2.discount_percent=50
laptop2.__dict__
print(laptop1.apply_discount())

27000.0

In [292]:
class Person:
    count_instance=0
    def __init__(self,first_name,last_name,age):
        Person.count_instance+=1
        self.first_name=first_name
        self.last_name=last_name
        self.age=age
p1=Person("krishna","kumar",18)
p2=Person("krishna","kumar",18)
# p3=Person("krishna","kumar",18)
print(Person.count_instance)

2

In [296]:
# Exception handling
# try except else finally
while True:
    try:
        age=int(input("Enter Your age : "))
        break
    except valueError:
        print("Invalid input......")
if age<18:
    print("you can\'t play the game")
else:
    print("you can play the game")

Enter Your age : seven

NameError: name 'valueError' is not defined

In [298]:
def divide(a,b):
    try:
        return a/b
    except ZeroDivisionError as err:
        print(err)
    except TypeError
# print(divide(10,"2"))

SyntaxError: invalid syntax (<ipython-input-298-94932baa039f>, line 6)

In [ ]:
import pdb

In [ ]:
'''
Control the automatic calling of the pdb interactive debugger.

Call as '%pdb on', '%pdb 1', '%pdb off' or '%pdb 0'. If called without
argument it works as a toggle.

When an exception is triggered, IPython can optionally call the
interactive pdb debugger after the traceback printout. %pdb toggles
this feature on and off.

The initial state of this feature is set in your configuration
file (the option is ``InteractiveShell.pdb``).

If you want to just activate the debugger AFTER an exception has fired,
without having to type '%pdb on' and rerunning your code, you can use
the %debug magic.
'''

In [302]:
import pdb       
# use l(showing list of pdb),c(contuine pdb),q(quite pdb)
pdb.set_trace()
name=input("please type your name : ")
age=input("Please type your age : ")
print(f" Hello {name} your age is {age}")
age2=age+5
print(f"{name} you will be {age2} in the next 5 years")

--Return--
> <ipython-input-302-b1e8023a1357>(3)<module>()->None
-> pdb.set_trace()
(Pdb) l
  1  	import pdb
  2  	# use l(showing list of pdb),c(contuine pdb),q(quite pdb)
  3  ->	pdb.set_trace()
  4  	name=input("please type your name : ")
  5  	age=input("Please type your age : ")
  6  	print(f" Hello {name} your age is {age}")
  7  	age2=age+5
  8  	print(f"{name} you will be {age2} in the next 5 years")
[EOF]
(Pdb) name
'krishna  '
(Pdb) age
19
(Pdb) c
please type your name : krishna
Please type your age : 19
 Hello krishna  your age is 19

TypeError: can only concatenate str (not "int") to str

In [308]:
p=open("C:\\Users\\hp\\Desktop\\file.txt.txt")
print(f"cursor position-{p.tell()}")
print(p.read())
print(f"cursor position-{p.tell()}")
p.close()

cursor position-0
the Mahatma Gandhi, in the temple in your vicinity.
 After its attempt to install Godse statues at few
identified places in Uttar Pradesh was foiled by the State Police,
 the Hindu Mahasabha plans to install them in the premises of temples across India.
The Hindutva outfit is in touch with saints and temple trusts which supervise
hundreds of temples, assured it of their support. At present the outfit is quite
 determined but tight upped about how it plans to install statue of Nathuram Godse
 on January 30, the day Godse shot dead Mahatma Gandhi. The Hindutva outfit has
 decided not to publicise its programmes of the installation of the statue after
 it felt "too much media coverage" became an "obstacle" in its work.
After its public announcement to build a temple for Godse in Sitapur district
 and install a Godse statue at an identified place in Meerut, the Uttar
Pradesh police sealed the two places. While treating the issue as serious
 problem for law and order the State police also plans to invoke section
 144 of the IPC at the two places.
As per the revised strategy, the outfit will first install Godse statue
 across the country and will then inform the media in order to avoid
 possible crackdowns by the Uttar Pradesh government and possible roadblocks
 posed by the other State government in the country. UP because According
 to senior functionaries of the Hindutva group, they met several group of
 saints during the recently concluded "Magh Kumbh mela" in Allahabad.
 "After we announced about our plans the government sealed the place.
 We don't want unnecessary attention. We would rather focus on competing
 the job at hand," he told this correspondent.
According to a senior Hindu Mahasabha leader who didn't want to be quoted
 because of the sensitivity of the issue, Godse statue might soon be seen
within temple premises across the country -- to start with, in temples
 in the Hindi speaking States like Madhya Pradesh.2010
cursor position-1988

In [312]:
f=open("C:\\Users\\hp\\Desktop\\file.txt.txt")
print(f.readline(),end="")
print(f.readline(),end="")
print(f.readline())
print(f.readline())

the Mahatma Gandhi, in the temple in your vicinity.
 After its attempt to install Godse statues at few
identified places in Uttar Pradesh was foiled by the State Police,

 the Hindu Mahasabha plans to install them in the premises of temples across India.

In [314]:
print(len(f.readlines()))

0

In [317]:
a=open(r"C:\Users\hp\Desktop\file.txt.txt")

In [318]:
with open(r"C:\Users\hp\Desktop\file.txt.txt") as a:
    data=a.read()
    print(data)

the Mahatma Gandhi, in the temple in your vicinity.
 After its attempt to install Godse statues at few
identified places in Uttar Pradesh was foiled by the State Police,
 the Hindu Mahasabha plans to install them in the premises of temples across India.
The Hindutva outfit is in touch with saints and temple trusts which supervise
hundreds of temples, assured it of their support. At present the outfit is quite
 determined but tight upped about how it plans to install statue of Nathuram Godse
 on January 30, the day Godse shot dead Mahatma Gandhi. The Hindutva outfit has
 decided not to publicise its programmes of the installation of the statue after
 it felt "too much media coverage" became an "obstacle" in its work.
After its public announcement to build a temple for Godse in Sitapur district
 and install a Godse statue at an identified place in Meerut, the Uttar
Pradesh police sealed the two places. While treating the issue as serious
 problem for law and order the State police also plans to invoke section
 144 of the IPC at the two places.
As per the revised strategy, the outfit will first install Godse statue
 across the country and will then inform the media in order to avoid
 possible crackdowns by the Uttar Pradesh government and possible roadblocks
 posed by the other State government in the country. UP because According
 to senior functionaries of the Hindutva group, they met several group of
 saints during the recently concluded "Magh Kumbh mela" in Allahabad.
 "After we announced about our plans the government sealed the place.
 We don't want unnecessary attention. We would rather focus on competing
 the job at hand," he told this correspondent.
According to a senior Hindu Mahasabha leader who didn't want to be quoted
 because of the sensitivity of the issue, Godse statue might soon be seen
within temple premises across the country -- to start with, in temples
 in the Hindi speaking States like Madhya Pradesh.2010

In [1]:
num1 = input("Enter a number : ")
num2 = input("Enter 2nd number : ")
try:
    print(" Sum of these two numbers" , int(num1)+int(num2))
except Exception as e:
    print(e)
print(" This line is very important")

Enter a number : 5
Enter 2nd number : 6
 Sum of these two numbers 11
 This line is very important

In [9]:
# File IO Basic
"""
"r" - open file for reading ( default)
"w" - open file for writing
"x" - create files if not exists
"a" - add more content to file 
"t" -  text mode (default)
"b" - binary mode
"+" - read and write

"""

f = open(r"C:\Users\hp\Desktop\file.txt.txt","rt")
content = f.read()
print(content)

f.close()

the Mahatma Gandhi, in the temple in your vicinity.
 After its attempt to install Godse statues at few
identified places in Uttar Pradesh was foiled by the State Police,
 the Hindu Mahasabha plans to install them in the premises of temples across India.
The Hindutva outfit is in touch with saints and temple trusts which supervise
hundreds of temples, assured it of their support. At present the outfit is quite
 determined but tight upped about how it plans to install statue of Nathuram Godse
 on January 30, the day Godse shot dead Mahatma Gandhi. The Hindutva outfit has
 decided not to publicise its programmes of the installation of the statue after
 it felt "too much media coverage" became an "obstacle" in its work.
After its public announcement to build a temple for Godse in Sitapur district
 and install a Godse statue at an identified place in Meerut, the Uttar
Pradesh police sealed the two places. While treating the issue as serious
 problem for law and order the State police also plans to invoke section
 144 of the IPC at the two places.
As per the revised strategy, the outfit will first install Godse statue
 across the country and will then inform the media in order to avoid
 possible crackdowns by the Uttar Pradesh government and possible roadblocks
 posed by the other State government in the country. UP because According
 to senior functionaries of the Hindutva group, they met several group of
 saints during the recently concluded "Magh Kumbh mela" in Allahabad.
 "After we announced about our plans the government sealed the place.
 We don't want unnecessary attention. We would rather focus on competing
 the job at hand," he told this correspondent.
According to a senior Hindu Mahasabha leader who didn't want to be quoted
 because of the sensitivity of the issue, Godse statue might soon be seen
within temple premises across the country -- to start with, in temples
 in the Hindi speaking States like Madhya Pradesh.2010

In [2]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

In [12]:
for line in content:
    print(line,end="")
f.close()

the Mahatma Gandhi, in the temple in your vicinity.
 After its attempt to install Godse statues at few
identified places in Uttar Pradesh was foiled by the State Police,
 the Hindu Mahasabha plans to install them in the premises of temples across India.
The Hindutva outfit is in touch with saints and temple trusts which supervise
hundreds of temples, assured it of their support. At present the outfit is quite
 determined but tight upped about how it plans to install statue of Nathuram Godse
 on January 30, the day Godse shot dead Mahatma Gandhi. The Hindutva outfit has
 decided not to publicise its programmes of the installation of the statue after
 it felt "too much media coverage" became an "obstacle" in its work.
After its public announcement to build a temple for Godse in Sitapur district
 and install a Godse statue at an identified place in Meerut, the Uttar
Pradesh police sealed the two places. While treating the issue as serious
 problem for law and order the State police also plans to invoke section
 144 of the IPC at the two places.
As per the revised strategy, the outfit will first install Godse statue
 across the country and will then inform the media in order to avoid
 possible crackdowns by the Uttar Pradesh government and possible roadblocks
 posed by the other State government in the country. UP because According
 to senior functionaries of the Hindutva group, they met several group of
 saints during the recently concluded "Magh Kumbh mela" in Allahabad.
 "After we announced about our plans the government sealed the place.
 We don't want unnecessary attention. We would rather focus on competing
 the job at hand," he told this correspondent.
According to a senior Hindu Mahasabha leader who didn't want to be quoted
 because of the sensitivity of the issue, Godse statue might soon be seen
within temple premises across the country -- to start with, in temples
 in the Hindi speaking States like Madhya Pradesh.2010

In [21]:
f = open(r"C:\Users\hp\Desktop\file.txt.txt","rt")
# print(f.readlines())
print(f.readline())
# f.close()

the Mahatma Gandhi, in the temple in your vicinity.

In [22]:
print(f.readline())

 After its attempt to install Godse statues at few

# Number guessing game

In [23]:
# n =18
# no of guessing = 9
# print no of guess left 
# No guess he take to finish 
# game over

# Game start
n = 18
number_of_guesses = 1
print("Number is guesses is limited only 9 times : ")
while (number_of_guesses<=9):
    guess_num = int(input("Guess the number : \n"))
    if guess_num <18:
        print("You enter less number please input greater number.\n")
    elif guess_num >18:
        print("You enter greater number please input lesser number.\n")
    else:
        print("You won\n")
        print(number_of_guesses,"number of guesses taken to finish.")
        break
    print(9-number_of_guesses,"No. of guesses left")
    number_of_guesses = number_of_guesses+1
if (number_of_guesses >9):
    print("Game Over")

Number is guesses is limited only 9 times :
Guess the number :
43
You enter greater number please input lesser number.

8 No. of guesses left
Guess the number :
4
You enter less number please input greater number.

7 No. of guesses left
Guess the number :
56
You enter greater number please input lesser number.

6 No. of guesses left
Guess the number :
20
You enter greater number please input lesser number.

5 No. of guesses left
Guess the number :
19
You enter greater number please input lesser number.

4 No. of guesses left
Guess the number :
18
You won

6 number of guesses taken to finish.

# pattern printing

In [53]:
while True:
    for i in range(5):
        print("*"*i)
    
    break
        
while True:
    for i in range(5):
        print("*"*(5-i))
    break

*
**
***
****
*****
****
***
**
*

In [56]:
for i in range(5):
    print("*"*i)
else:
    print("*"*(5-i))
#     break

*
**
***
****
*

In [22]:
import random
random_number = random.randint(0,1)
print(random_number)
rand = random.random()
print(rand)
lst = [ "krishna","good","boy","Helllo","world"]
choice = random.choice(lst)
print(choice)

0
0.40609690342021154
krishna

## Pattern printing

In [35]:
print("How many row you want to print")
one = int(input())
print("Type 1 or 0")
two = int(input())
new = bool(two)
if new==True:
    for i in range(1,one+1):
        for j in range(1, i+1):
            print("*",end=" ")
        print()
elif new==False:
    for i in range(one,0,-1):
        for j in range(1,i+1):
            print("*", end=" ")
        print()

How many row you want to print
4
Type 1 or 0
0
* * * *
* * *
* *
*

In [43]:
choice = int(input(" Enter row which you want to print : "))
pattern_choice = int(input("Enter you type 1 or 0 :  "))
if pattern_choice==1:
    for i in range(1,choice+1):
        print("* "*i)
elif pattern_choice==0:
    for i in range(choice,0,-1):
        print("* "*i)

 Enter row which you want to print : 10
Enter you type 1 or 0 :  0
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [47]:
try:
    n = int(input("Enter No. of row : "))
    b = int(input("Enter Pattern(0 or 1) : "))
    if b in 0:
        count = 0
        while(count<=n):
            print("*"*count,end="")
            print("\n",end="")
            count += 1
            continue
    elif b is 1:
        count = n
        while(count !=0):
            print("*"*count, end="")
            print("\n", end = "")
            count += -1
            continue
    else:
        print(" Invalid pattern !!!")
except Exception as e:
    print(" Invalid Input !!!")

Enter No. of row : 4
Enter Pattern(0 or 1) : 1
 Invalid Input !!!

In [59]:
def argument(normal,*arg,**kwrg):
    print(normal)
    for item in arg:
        print(item)
    print("\n Now I am going to introduce my staff and helper")
    for key,value in kwarg.items():
        print(f"{key} is a {value}.")
              
arg = ['krishna', "rohan","rohit","mukesh"]
kwarg = { "krihsna":"Data scientist" , " rohan":"Teacher","rohit":"police","mukesh":"poilt"}
normal = " I am co-founder of this company and I am going to show some of my staff and helper detail."
argument(normal,*arg,**kwarg)

 I am co-founder of this company and I am going to show some of my staff and helper detail.
krishna
rohan
rohit
mukesh

 Now I am going to introduce my staff and helper
krihsna is a Data scientist.
 rohan is a Teacher.
rohit is a police.
mukesh is a poilt.

In [64]:
import time 
import datetime
current_time = time.asctime(time.localtime(time.time()))
print(current_time)
current_time1 =time.localtime()
print(current_time1)
print(time.time())
print(time.localtime(time.time()))

Wed Apr 21 15:10:21 2021
time.struct_time(tm_year=2021, tm_mon=4, tm_mday=21, tm_hour=15, tm_min=10, tm_sec=21, tm_wday=2, tm_yday=111, tm_isdst=0)
1618998021.7893662
time.struct_time(tm_year=2021, tm_mon=4, tm_mday=21, tm_hour=15, tm_min=10, tm_sec=21, tm_wday=2, tm_yday=111, tm_isdst=0)